.tdRecipeList {
  background-color: #f7b7d0;
  font-weight: 300;
}

.thRecipeList {
  background-color: #f7b7d0;
}

.tableRecipelist {
  background-color: #cd3039;
  border-color: #cd3039;
}

.boxTableRecipeList {
  display: flex;
  justify-content: center;
}

.titleRecipesList {
  display: flex;
  justify-content: center;
}
