.titleRecipes {
  display: flex;
  justify-content: center;
}
.boxRecipe {
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 300px;
}
.boxTableRecipe {
  max-width: 80%;
  min-width: 70%;
}

.tableBaseHeader {
  color: rgb(29, 96, 240) !important;
  font-weight: 900 !important;
  font-size: 1.6em !important;
}
