.box {
  display: flex;
  justify-content: center;
}

.boxForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formAddIngridients {
  display: flex;
  flex-direction: column;
  width: 450px;
}

#btn {
  margin-top: 10px;
}
