.box {
  display: flex;
  justify-content: center;
}

.boxForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px 30px;
  margin-top: 50px;
}

.formAddIngridients {
  display: flex;
  flex-direction: column;
  width: 450px;
}

#btn {
  margin-top: 10px;
}

.inputText {
  margin-bottom: 10px;
}
